<p>
  <%= @calendar_month.year %>年<%= @calendar_month.month %>月
</p>

<table border='1'>
  <tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <% @calendar_month.weeks.each do |week| %>
    <tr>
      <% week.each do |day| %>
        <td><%= day %></td>
      <% end %>
    </tr>
  <% end %>
</table>
